{% extends "_base.html" %}

{# 1. Definimos el título específico para la pestaña del navegador de esta vista #}
{% block title %}Publicaciones | Mi Blog{% endblock %}

{# 2. Abrimos el bloque de contenido principal que se inyectará en la etiqueta <main> de _base.html #}
{% block content %}
    <div class="container">
        <h1>Publicaciones</h1>
        
        <ul>
        {# 3. Bucle DTL (Django Template Language): Itera sobre cada objeto dentro de la variable de contexto 'post_list' #}
        {% for publication in post_list %}
            <li class="post-card">
                {# 4. Enlace dinámico con resolución inversa: apunta a la ruta 'post_detail' pasando la Clave Primaria (pk) #}
                <h2><a href="{% url 'post_detail' publication.pk %}">{{ publication.title }}</a></h2>
                
                <div class="post-content">
                    {# 5. Imprime el contenido crudo del post #}
                    <p>{{ publication.content }}</p>
                </div>
                
                <div class="post-meta">
                    {# 6. Imprime el autor utilizando el filtro '|default' por si el campo está vacío #}
                    <span>Por: <strong>{{ publication.author.username|default:"Autor desconocido" }}</strong></span>
                    {# 7. Imprime la fecha de creación registrada en la base de datos #}
                    <span>Publicado el: {{ publication.created_at }}</span>
                </div>
            </li>
        {% empty %}
            {# 8. Cláusula de seguridad: se ejecuta automáticamente si la lista de posts está vacía #}
            <p class="empty-message">No hay publicaciones disponibles todavía.</p>
        {% endfor %}
        </ul>
    </div>
{% endblock %}